.header-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
  z-index: 1001;
  padding: 10px;
  gap: 8px;
  display: flex;
}
.header-container {
  display: flex;
}
.buttons {
  display: flex;
}
.button1 {
  height: 38px;
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  color: black;
  background-color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 5px cyan;
  border: 1px solid transparent;
  box-shadow: 0 0 5px cyan, 0 0 5px cyan, 0 0 5px cyan;
  transition: 0.3s;
  font-weight: bold;
  font-size: 20px;
}
.button2 {
  height: 100%;
  width: 1px;
  background-color: white;
}
.button1:hover {
  transform: scale(1.1);
  cursor: pointer;
}
body {
  margin: 0;
  padding-top: 110px;
  font-family: Arial;
  overflow-x: hidden;
}
.perfil {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 90px;
}
.titulo {
  position: fixed;
  left: 75%;
  transform: translateX(-50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#carrinho-de-compra {
  color: white;
  width: 70px;
  height: max-content;
  transition: transform 0.3s;
  transform: scale(1.1);
}
#carrinho-de-compra:hover {
  cursor: pointer;
}
.categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.pesquisar {
  width: 80%;
  max-width: 400px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ccc;
  text-align: center;
  font-size: 16px;
}
form {
  width: 100%; /* Ocupa a largura disponível */
  max-width: 500px; /* Mas trava em 500px se estiver no PC */
  height: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 100px;
}

.preco {
  color: white;
  font-weight: bold;
  margin: 10px 0;
}
.highlight {
  background-color: rgb(233, 233, 138);
  font-weight: bold;
  border: solid 1px black;
  border-radius: 10px;
  color: black;
}
.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.pnome {
  margin: 10px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word;
  max-width: 8ch;
}
.perfil-container {
  max-height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 2000;
}
.barrapp {
  background-color: white;
  width: 1px;
  height: 80px;
  z-index: 3000;
}
.paragrafo1 {
  text-align: center;
}
.hh {
  text-align: center;
  position: relative;
  margin-top: 75px;
}
.produtos div {
  text-align: center;
}
.divp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.fig {
  margin: 0;
  font-weight: bold;
  font-family: Arial;
}
.imgfig,
.fig,
.figa {
  border-radius: 20px;
}
.imgfig {
  margin: 0;
  border: none;
  border-radius: 20px;
  border-width: 2px;
  width: 100%;
}
.figa {
  transition: transform 0.5s;
  box-shadow: 0px 0px 5px rgb(215, 215, 215);
  width: 200px;
}
.figa:hover {
  transform: scale(1.1);
}
.Produtoscoluna {
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(234, 231, 231);
}
.paragrafo2 h1 {
  text-align: center;
}
.paragrafo2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.produtosemcoluna {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.legenda1 {
  font-weight: bold;
  font-family: Verdana;
}
.imgaa {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  padding: 5px;
}
.card1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 100px;
  padding-top: 100px;
}
.card1 {
  transition: transform 0.1s;
}
.card1:hover {
  transform: scale(1.03);
}
.rodape {
  background-color: black;
  width: 100%;
  height: 250px;
  display: flex;
}
.creditos {
  color: transparent;
  font-size: 10px;
  margin: 30px;
}
.creditos1 {
  color: white;
  font-size: 20px;
  margin: 30px;
}
.rodape1 {
  flex-direction: column;
}
.equipe {
  height: 100%;
  color: white;
  font-size: 20px;
  border-left: 3px solid white;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 3px solid white;
}
.equipe li {
  margin: 10px;

  margin-left: 30px;
}
.butaoduvidas,
.butaocontato,
.butaotermosdeuso,
.butaosobre {
  text-decoration: none;
  color: white;
}
.butaoduvidas:visited,
.butaocontato:visited,
.butaotermosdeuso:visited,
.butaosobre {
  color: white;
}
.butaoduvidas:hover,
.butaocontato:hover,
.butaotermosdeuso:hover,
.butaosobre:hover {
  cursor: pointer;
  color: blue;
}
.ppp {
  margin-top: 30px;
}
.titulorodape {
  color: white;
  font-size: 70px;
  font-family: "Times New Roman";
  font-weight: bold;
}
.botaomatriz {
  position: absolute;
  height: 38px;
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  color: black;
  background-color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 5px cyan;
  border: 1px solid transparent;
  box-shadow: 0 0 5px cyan, 0 0 5px cyan, 0 0 5px cyan;
  transition: 0.3s;
  font-weight: bold;
  font-size: 20px;
  margin-top: 58px;
  display: none;
  transition: transform 0.3s;
}
.botaomatriz:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-container {
  flex-direction: column;
  display: flex;
  padding-top: 50px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.sobre {
  font-size: 20px;
  z-index: 2000;
  text-decoration: none;
  font-weight: 400;
  color: black;
  border: thick black solid;
  border-radius: 50px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: cyan;
  margin-bottom: 10px;
  margin-top: 10px;
}
#sobre {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
h2 {
  font-size: 30px;
}
.sobre1 {
  font-size: 20px;
  z-index: 2000;
  text-decoration: none;
  font-weight: 400;
  color: black;
  border: 1px black solid;
  border-radius: 90px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: cyan;
  margin-bottom: 10px;
  transition: transform 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sobre1:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
#circulo-cart {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 5px;
}

.toggle {
  display: none;
}

.switch {
  width: 70px;
  height: 36px;
  background: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
  transition: background 0.3s;
}

.knob {
  width: 50%;
  height: 100%;
  background: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0px 30px rgba(255, 255, 255, 0.523);
}

.icon {
  position: absolute;
  transition: opacity 0.2s;
}
.textodocarrinho {
  margin-top: 4px;
  font-size: 13px;
}
/* Sol visível, lua escondida */
.light-icon {
  opacity: 1;
}
.dark-icon {
  opacity: 0;
}

/* Move a bolinha */
.toggle:checked + .switch .knob {
  transform: translateX(100%);
  background: white;
  box-shadow: 0 0px 30px rgba(255, 255, 255, 0.523);
}

/* Troca de ícones */
.toggle:checked + .switch .light-icon {
  opacity: 0;
}

.toggle:checked + .switch .dark-icon {
  opacity: 1;
}

/* Cor do trilho quando ativo */
.toggle:checked + .switch {
  background: gray;
}
@media (max-width: 1024px) {
  .buttons {
    flex-direction: column;
  }
  .button1 {
    font-size: 12px;
    height: 20px;
    width: 75px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #carrinho-de-compra {
    width: 40px;
  }
  .switch{
    bottom: 30px;
    width: 60px;
    height: 31px;
  }
  .titulo{
    left: 65%;
    width: 20%;
  }
  .svgdocarrinho {
    width: 20px;
  }
  .textodocarrinho {
    font-size: 7px;
  }
  .perfil {
    height: 30px;
    width: 30px;
  }
  .perfil-container {
    width: 15%;
    height: 15%;
  }
  .titulo {
    font-size: 12px;
  }
  .main-container {
    margin-top: 100px;
    width: 100%;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 320px) {
  .titulo {
    top: 12%;
    margin-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .titulo {
    top: 12%;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .titulo {
    top: 12%;
    width: 50%;
  }
}
